body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    background-color: yellow;
    border: none;
    padding: 15px;
    margin-bottom: 2px;
    cursor: pointer;
}
.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 80dvh; 
    min-width: 80dvh;
}
.gridrow{
    display:flex;
    flex: 1 1;
    flex-direction: row;

}
.gridbox{
    display: flex;
    border-style: solid;
    border-width: 1px;
    flex: 1 1;
   
}